.boxes{
	width: 80%;
	height: 150px;
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	align-items: center;
	border: navy 5px double;
	margin: 10px auto;
	background-color: lightgoldenrodyellow;
}

.content{
	background-color: peachpuff;
	padding: 2px 20px;
	height: 80%;
	border: indigo 2px solid;
}

img{
	height: 135px;
	width: 135px;
}

body{
	background-color: paleturquoise;
}